APP_NAME=Insight
APP_ENV=local
APP_KEY=base64:ZTILsNp1+BPTKcRDlvSQlL59StQl1v8/7tny70M9L9Q=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=InsightDB
DB_PORT=5432
DB_DATABASE=Insight
DB_USERNAME=postgres
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=insightatubc@gmail.com
MAIL_PASSWORD="sylj ykmp emon wcow"
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="insightatubc@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=905314798829-4e4jgua02nnir0la6d8rsdl1dvjidkhb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost/auth/google/callback

# github
GITHUB_CLIENT_ID=SOME_CLIENT_ID
GITHUB_CLIENT_SECRET=SOME_CLIENT_SECRET
GITHUB_REDIRECT_URI=http://localhost/auth/github/callback

#PGADMIN
PGADMIN_EMAIL=insightatubc@gmail.com
PGADMIN_PASSWORD=password
