.audit-logs-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 6px;
}

.audit-logs-section .toolbar {
    /* padding: 8px; */
    border-radius: 4px;
}

.audit-log-table-item {
}

.audit-log-table-item-cell {
    /* padding: 6px 12px; */
    /* border-radius: 50px; */
    /* color: #f0f0f0; */
    font-weight: 600;
    /* background: #f0f0f0 !important; */
}

pre.data-preview {
    padding: 12px;
    border-radius: 12px;
    background: #f0f0f0;
    color: #555;
    font-size: 1rem;
    font-weight: 600;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    overflow: auto;
    max-height: 300px;
}
