@tailwind base;
@tailwind components;
@tailwind utilities;

/* For the table headers and structure */
.header-editable {
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    outline: none;
    cursor: pointer;
}

.header-editable:focus {
    border: 1px solid #3b4779;
    background-color: #e9f7fe;
}

.cell-editable {
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    outline: none;
}

.cell-editable:focus {
    border: 1px solid #3b4779;
    background-color: #e9f7fe;
}

.modal-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-centered .modal-content {
    margin: auto;
}

/* Fixing the headers of the table */
.fixed-table-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    cursor: pointer;
    margin-bottom: 6px;
}

.fixed-table-header .header-title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.fixed-table-header .header-search {
    flex: 1;
    display: flex;
    padding: 1px;
    border-radius: 4px;
}

.fixed-table-header .header-buttons {
    display: flex;
    gap: 10px;
}

.sticky-header th {
    position: sticky;
    top: 0px;
    z-index: 500;
    background-color: rgb(59, 71, 121);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Ensures the dropdown menu has a higher z-index than other elements */
.dropdown-zindex {
    z-index: 1100;
}

/* Search bar */
.search-bar,
.input-search {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
    max-width: 100%;
    background-color: #f8f8f8;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-search:focus {
    border-color: #3b4779;
    box-shadow: 0 0 0 1px #3b4779;
}

.input-search::placeholder {
    color: #787878;
}

/* Custom blue color for the table */
.ubc-blue {
    color: rgb(59, 71, 121);
    border-color: rgb(59, 71, 121);
    background-color: transparent;
    font-weight: bold; 
    border-width: 2px;
    transition: color 0.25s;
}

.ubc-blue:hover {
    background-color: rgb(59, 71, 121);
    color: white;
}

.ubc-blue:focus {
    border-color: rgb(59, 71, 121);
    box-shadow: 0 0 0 1px rgb(59, 71, 121);
}

/* Highlighting the table in the edit mode */
.edit-highlight {
    border: 2px solid #3b4779; /* Custom blue border */
    background-color: #ffffff; /* Light blue background */
    padding: 8px; /* Adjusted padding */
    border-radius: 4px; /* Adjusted border radius */
    transition: background-color 0.3s, border-color 0.3s;
    cursor: text;
}

/* For the error handling messages in the edit mode */
.error-input {
    border: 2px solid red;
    background-color: #ffe6e6;
}

/* Custom green color for the buttons */
.btn-green {
    color: #3B784F;
    border-color: #3B784F;
    background-color: transparent;
    font-weight: bold; 
    border-width: 2px;
    transition: color 0.25s;
}

.btn-green:hover {
    background-color: #3B784F;
    color: white;
}

.btn-green:focus {
    border-color: #3B784F;
    box-shadow: 0 0 0 1px #3B784F;
}

.btn-red {
    color: #E3342F;
    border-color: #E3342F;
    background-color: transparent;
    font-weight: bold; /* Make the text bold */
    border-width: 2px; /* Make the border bolder */
    transition: color 0.25s;
}

.btn-red:hover {
    background-color: #E3342F;
    color: white;
}

.btn-red:focus {
    border-color: #E3342F;
    box-shadow: 0 0 0 1px #E3342F;
}

/* Edit Mode Display for the table */
.custom-table {
    border-collapse: separate;
    border-spacing: 2px 12px;
}

.custom-table tr {
    border-radius: 8px;
    overflow: hidden;
}

.custom-table td {
    padding: 12px 15px;
    background-color: #ffffff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: background-color 0.1s, border-color 0.1s;
}

.custom-table td:first-child {
    border-left: 1px solid rgb(255, 255, 255);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.custom-table td:last-child {
    border-right: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* For the Filter Icon */
.filter-select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 1rem;
    border: 2px solid #3b4779;
    background-color: #f8f8f8;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 50%;
    max-width: 50%;
    color: #3b4779;
}

.filter-select:focus {
    border-color: #3b4779;
    box-shadow: 0 0 0 1px #3b4779;
    outline: none;
}

.filter-select::placeholder {
    color: #f8f8f8;
}

.instructor-filter {
    margin-top: 0rem;
}

.text-ubc {
    color: rgb(59, 71, 121);
    font-size: large;
}

.border-ubc {
    border-color: rgb(59, 71, 121);
}

.bg-green {
    background-color: #28a745; /* or your custom green color code */
}

.border-green {
    border-color: #28a745; /* or your custom green color code */
}

.page-btn {
    padding: 8px 16px;
    margin: 0 2px;
    border: 1px solid #ddd;
    color: #3b4779;
    text-decoration: none;
    cursor: pointer;
}

.page-btn:hover {
    background-color: #f0f0f0;
}

.page-active {
    background-color: #3b4779;
    color: white;
    font-weight: bold;
    cursor: default;
}

.page-disabled {
    color: #999;
    cursor: not-allowed;
}

.bold-text {
    font-weight: bold;
}

/* General tab styles */
#default-tab button {
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

#default-tab button:hover {
    background-color: rgba(59, 71, 121, 0.2); /* Darker blue background with some transparency */
    border-color: rgb(59, 71, 121); /* Custom UBC blue border */
    color: rgb(59, 71, 121); /* Custom UBC blue text */
}

nav a.import-nav-link {
    padding: 0.5rem 1rem;
    border-bottom-width: 2px;
    transition: color 0.3s ease, border-color 0.3s ease;
    color: #6b7280; /* Gray color for inactive tabs */
    border-bottom: 2px solid transparent; /* Default border color for inactive tabs */
}

nav a.import-nav-link:hover {
    color: #3b4779;
    border-bottom-color: #3b4779;
}

nav a.import-nav-link.active {
    color: #3b4779;
    border-bottom-color: #3b4779;
}



/* Existing button styles for reference */
.edit-sei-button {
    background-color: #3b4779; /* Custom UBC blue color */
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 12px;
    border: 2px solid white;
    display: inline-block; /* Adjust the display to inline-block */
    margin: 2px; /* Adjust margin to make it fit better */
}

.edit-sei-button:hover {
    background-color: white; /* Change background to white */
    color: #3b4779; /* Change text color to custom UBC blue */
    border-color: #3b4779; /* Change border color to custom UBC blue */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-sei-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    border-color: #ccc;
}
