.department-list {
    display: flex;
    gap: 1rem;
}

.department-preview {
    flex: 1;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tb {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 0.45rem; 
    padding: 0; 
}

.dept-item {
    background: #fafafa;
    padding: 2px; 
    max-height: 50px;
    font-weight: normal;
    font-size: 15px;
    align-items: left;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.dept-head {
    background: #fafafa;
    color: #000000;
    max-height: 50px;
    font-weight: bolder;
    align-items: left;
    font-size: 15px;
    align-items: left;
}

.col {
    flex: 0;
    width: 327px; 
}

.col:first-child {
    flex: 0;
    width: 327px; 
}