

.toolbar .filter {
    display: flex;
    gap: 6px;
    align-items: center;
    position: relative;
}

.toolbar .filter-title {
    padding: 4px 12px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    gap: 6px;
    z-index: 13;
    /* max-width: 150px; */
    width: fit-content;
    font-weight: 600;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.toolbar .filter-title .filter-clear {
    font-size: 1rem;
    color: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.toolbar .filter-items-holder {
    border-radius: 0.25rem;
    display: none;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: -5px;
    right: -5px;
    padding: 12px;
    padding-top: 2.5rem;
    z-index: 12;
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    overflow-y: auto;
    gap: 6px;
    transition: all 1s ease-in-out;
}

.toolbar .filter-items-holder.open {
    display: flex;
}

.toolbar .filter-category {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
}

.toolbar .filter-category-title {
    font-size: 1rem;
    color: #999;
    font-weight: 600;
}

.toolbar .filter-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    width: 100%;
    padding:3px;
}

.toolbar .filter-items input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.toolbar .filter-item {
    border-radius: 50px;
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.toolbar .filter-item {
    background: #eaeaea;
}

.toolbar .filter-item[data-checked="true"],
.toolbar .filter-item[data-selected="true"],
.toolbar .filter-item:hover {
    background: #fafafa;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.toolbar .filter-category:hover .filter-toggle-icon,
.toolbar .filter-category:focus-within .filter-toggle-icon {
    transform: rotate(180deg);
}

.toolbar .filter-clear-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1rem;
    color: #999;
    font-weight: 600;
    padding: 4px 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    cursor: pointer;
    background: #f0f0f0;
    gap: 6px;
}

.toolbar .filter-clear-btn .material-symbols-outlined {
    font-weight: 600;
}
