.instructor-container {
    display: flex;
    padding: 0px;
    gap: 12px;
}

.column {
    flex: 1;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.charts-column {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.chart-container {
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.performance-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.leader-board {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 2;
}

.circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.leaderboard-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 10px;
    text-align: center;
    justify-content: center;
    padding-left: 20px;
}

.course-performance {
    padding: 0px;
    background-color: #ffffff;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    gap: 12px; 
}

.course-metric {
    flex: 1; 
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.metric-header {
    margin-bottom: 5px;
    font-size: 0.8rem; 
    padding-bottom: 10px;
}

.metric-value {
    font-weight: bold;
    font-size: 24px; 
}

.course-performance {
    padding: 0px;
    background-color: #ffffff;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    gap: 12px; 
}

.icon-circle {
    width: 115px; 
    height: 115px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.trophy-gold {
    color: gold;
    background-color: rgba(255, 223, 0, 0.2);
    border: 1px solid rgba(255, 223, 0, 1);
}

.trophy-silver {
    color: silver;
    background-color: rgba(192, 192, 192, 0.1);
    border: 1px solid rgba(192, 192, 192, 1);
}

.trophy-bronze {
    color: #cd7f32;
    background-color: rgba(205, 127, 50, 0.1);
    border: 1px solid rgba(205, 127, 50, 0.5);
}

.badge-blue {
    color: #007bff; 
    background-color: rgba(0, 123, 255, 0.1);
    border: 1px solid rgba(0, 123, 255, 0.5);
}

.badge-red {
    color: #dc3545; 
    background-color: rgba(220, 53, 69, 0.1);
    border: 1px solid rgba(220, 53, 69, 0.5);
}

.badge-green {
    color: #28a745; 
    background-color: rgba(40, 167, 69, 0.1);
    border: 1px solid rgba(40, 167, 69, 0.5);
}

.badge-magenta {
    color: #c2185b; 
    background-color: rgba(194, 24, 91, 0.1);
    border: 1px solid rgba(194, 24, 91, 0.5);
}

.badge-purple {
    color: #6f42c1; 
    background-color: rgba(111, 66, 193, 0.1);
    border: 1px solid rgba(111, 66, 193, 0.5);
}

.badge-default {
    color: #fd7e14; 
    background-color: rgba(253, 126, 20, 0.1);
    border: 1px solid rgba(253, 126, 20, 0.5);
}

.custom-icon {
    font-size: 95px !important;
    padding-top: 10px;
}










