.instructor-list {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 1rem;
    height: 100%;
}

.instructor-preview {
    flex: 1;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instructor-preview:first-child, 
.instructor-preview:nth-child(2) {
    flex: 2;
}

.tb {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 0.45rem; 
    padding: 0; 
}

.inst-item {
    background: #fafafa;
    padding: 2px; 
    max-height: 50px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    box-sizing: border-box;
    text-align: center;
}

.inst-head {
    background: #fafafa;
    color: #000000;
    max-height: 50px;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 8px;
    text-align: center;
}

.col {
    flex: 0;
}

.col:first-child {
    width: 210px; 
}
