.svcr-table,
#svcr-table {
    width: 100%;
    border-collapse: separate;
    border: none;
    border-spacing: revert;
    /* background: var(--svcr-table-bg); */ /* You can uncomment this line if you want the background color */
}

.arrow-dir {
    border-radius: 20px;
    padding: 4px;
    background: var(--arrow-dir-bg);
    gap: 0.25rem;
}

.arrow-dir a {
    gap: 0;
}

.arrow-dir .material-symbols-outlined {
    padding: 2px !important;
    border-radius: 50px;
    color: var(--arrow-dir-icon-color);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.arrow-dir a:hover .material-symbols-outlined {
    /* background: rgba(59,71,171, 1);
    color: #fff; */
    font-weight: 900;
}

.svcr-list {
    display: grid;
    flex-wrap: wrap;
    /* grid auto columns with widths of 300px */
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    padding: 6px;
    gap: 12px;
}

/* all checkboxes in svcr-table */
#svcr-table input[type="checkbox"],
.svcr-table input[type="checkbox"] {
    /* display: none; */
    /* background: #fafafa; */
    border-radius: 50px;
}

.svcr-list-header {
    /* background: rgb(249 250 251 / 1); */
    background: var(--svcr-list-header-bg);
}

.card-view .svcrole-card {
    display: inline-block;
    width: 30%;
    margin: 1%;
}

.list-view .svcrole-list-item {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.list-header-title {
    width: fit-content;
}

.svcr-list-header-item {
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    /* color: #333; */
    text-align: left;
    padding: 4px 8px;
    /* color: rgb(55 65 81 / 1); */
    color: var(--svcr-list-header-text);
    border-radius: 4px;
}

.svcr-list-header-item:first-child,
.svcr-list-item td:first-child {
    text-align: center;
}

.svcr-list-header-item:has(.svcr-list-item-cell[data-column*="description"]),
.svcr-list-header-item:has(.svcr-list-item-cell[data-column*="desc"]) {
    max-width: 450px;
}

.svcr-list-item-cell[data-column*="description"],
.svcr-list-item-cell[data-column*="desc"] {
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* smaller screens description should be 200px */
@media (max-width: 768px) {
    .svcr-list-header-item:has(.svcr-list-item-cell[data-column*="description"]),
    .svcr-list-header-item:has(.svcr-list-item-cell[data-column*="desc"]) {
    max-width: 200px;
    }

    .svcr-list-item-cell[data-column*="description"],
    .svcr-list-item-cell[data-column*="desc"] {
    max-width: 200px;
    }
}

.list-header-actions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.list-header-action .icon {
    font-size: 0.9rem;
    /* color: #333; */
    cursor: pointer;
}

.svcr-list-item:hover {
    background: var(--svcr-list-item-hover-bg);
}

.svcr-list-item:has(.svcr-list-item-cell>input[type="checkbox"]:checked) {
    background: var(--svcr-list-item-checked-bg);
}

nav[aria-label="Pagination Navigation"] {
    padding: 0 30px;
}

.svcr-table thead,
#svcr-table thead {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: table-header-group;
    vertical-align: middle;
}

/* .svcr-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    width: 100%;
} */

.bg-editing {
    background-color: #f0f0f0;
}

.svcr-list-item input[type="text"],
.svcr-list-item input[type="number"],
.svcr-list-item select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    border-radius: 12px;
}

.svcr-list-item input[type="text"],
.svcr-list-item input[type="number"] {
    padding: 4px 8px;
}

.svcr-list-item select {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.svcr-table tbody,
#svcr-table tbody {
    width: 100%;
}

.svcr-list-item {
    border-radius: 12px;
    /* padding: 6px; */
    border-spacing: 6px;
    border-collapse: separate;
    color: var(--svcr-list-item-text);
    background: var(--svcr-list-item-bg);
}

.svcr-container {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    padding: 0 6px;
}

.svcr-container .toolbar {
    position: sticky;
}

.svcr-container .svcr-items {
    position: relative;
    height: calc(100% - 40px);
}

.svcr-list-item-cell {
    padding: 8px;
    border-radius: 4px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.icon-cancel-edit {
    color: #dc3545;
    cursor: pointer;
}

.svcr-list-item-actions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.svcr-list-item-actions {
    justify-content: start;
    align-items: center;
    height: 100%;
    display: flex;
}

#svcr-select-all::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    /* border: 1px solid #ccc; */
    border: none;
    background-color: transparent;
    margin-right: 5px;
    vertical-align: middle;
}

#svcr-select-all:checked::before {
    content: "✓";
    background-color: #3b4779;
    opacity: 0;
    color: white;
}

#svcr-select-all[indeterminate]::before {
    content: "-";
    text-align: center;
    line-height: 10px;
    /* Vertically center the "-" */
}

.svcr-list-header-item>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.svcr-list-header-item>div .material-symbols-outlined {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-svcrole-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border-radius: 12px;
    background: var(--add-svcrole-section-bg);
    width: 100%;
}
